{% extends 'locations/base.html' %}
{% load static %} 
{% block title %} Rent a vehicle {% endblock %}
Register

{% block extrahead %}
{% comment %} <link rel="stylesheet" href="{% static 'css/registration.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> 

{% endblock %}
{% block content %}
<h1>Register Here</h1>
<form method="post" action=".">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Register" />
</form>
<p>
Alrady registered?
<a href="/accounts/login/"> Sign in!</a>
</p>
{% endblock %}
