body { margin: 0; padding: 0; }
#map { width: 100%; height: 500px }

h1 {
  font-size: 3rem; /* Adjust to desired size */
  font-weight: bold;
  text-align: center;
  color: #333; /* Change to desired color */
  text-transform: uppercase; /* Optional */
  letter-spacing: 0.1rem; /* Optional */
  margin-top: 2rem; /* Optional */
  margin-bottom: 2rem; /* Optional */
  /* Optional styling for box-shadow and border-radius */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: #f2f2f2;

}


h1 {
  font-size: 24px;
}



/* Adjust font size for smaller devices */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

/* Adjust font size for even smaller devices */
@media (max-width: 576px) {
  h1 {
    font-size: 16px;
  }
}

.vehicle-selection {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .vehicle-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
  }
  
  .vehicle-icon.selected {
    border: 3px solid green;
    background-color: #d7ffd9;
    }
  
  .vehicle-icon:not(.selected) {
    filter: grayscale(100%);
  }

  #timer {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: center;
  }
  
#timer span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #333;
    margin: 0 10px;
    font-size: 28px;
  }

  #price {
    font-size: 2em;
    font-weight: bold;
    color: #008080;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #bbe1e1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  button#search {
    font-size: 18px;
    align-items: center;
    align-content: center;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

  }
  
  button#search:hover {
    background-color: #0062cc;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button#submit-button {
    font-size: 18px;
    align-items: center;
    align-content: center;
    font-weight: bold;
    color: #fff;
    background-color: rgb(50, 180, 71);
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }