* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: relative;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .authentication {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .important {
    background-color: rgb(183, 13, 13);
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .important:hover {
    background-color: red;
    color:black;
}

@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}