<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> GlasgowShare - {% block title %}  {% endblock %}</title>
    {% block extrahead %}
        <!-- Include your CSS and JS files here -->
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script> {% endcomment %}
    {% endblock %}
</head>
<body>
    <!-- Top bar navigation -->
    <nav>
        <ul>
            <li><a href="{% url 'locations:index' %}">Make an order</a></li>
            <li><a href="#">Top up</a></li>
            <li><a href="#">Order history</a></li>
        </ul>
    </nav>

    <!-- Content of child template will be placed here -->
    {% block content %}{% endblock %}
</body>
</html>