{% extends "locations/base.html" %}
{% load static %}

{% block title %}
      Deposit
{% endblock %}

{% block content %}
  <div class="input-group">
    <input type="text" class="form-control" placeholder="deposit amount" aria-describedby="basic-addon2" style="width:160px; height:25px;">
    <button type="submit" name="deposit" id="deposit" value="none">Deposit</button>
  </div>
  <button onclick="window.location.href='/'" type="button" id="customer" value="none">Return to Homepage</button>
{% endblock %}


