{% extends "locations/base.html" %}
{% load static %}

{% block title %}
      Deposit
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/deposit.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">

{% endblock%}
{% block content %}

<p id="price"> 💳 £{{ customer.balance}}</p>

  <div class="input-group">
    <form  method="POST" >
      {% csrf_token %}
    <input type="text" class="form-control" placeholder="deposit amount" aria-describedby="basic-addon2" style="width:160px; height:25px;" name="depositAmount">
    <button type="submit" name="deposit" id="deposit" value="none">Deposit</button>
    </form>
  </div>
  {% comment %} <button onclick="window.location.href='/'" type="button" id="customer" value="none">Return to Homepage</button> {% endcomment %}

{% endblock %}


