{% extends "locations/base.html" %}
{% load static %}

{% block title %}
     Order Details
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">

{% endblock %}
{% block content %}

  <div>
      <div class="container">
        <div class="panel panel-default">
      <div class="panel-heading">Order details</div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Vehicle </th>
            <th>Order #</th>
            <th>Day </th>
            <th>Time returned</th>
            <th>Duration </th>
            <th>Cost </th>
            <th>From </th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td>{{ obj.car }}</td>
             <td>{{ obj.order_id }}</td>
             <td>{{ obj.date }}</td>
             <td>{{ obj.returntime }}</td>
             <td>{{ obj.formatted_time }}</td>
             <td>{{ obj.cost }}</td>
             <td>{{ obj.iadd }}</td>
             <td>{{ obj.fadd }}</td>
          </tr>
        </tbody>
      </table>

     </div>
    {% if not obj.paid %}
    <div class="text-center">
        <a href="/order_history/{{obj.order_id}}/payment/" class="btn btn-primary">pay</a>
    </div>
     {% endif %}
  </div>
  </div>
      </div>
{% endblock %}

