{% extends "locations/base.html" %}
{% load static %}

{% block title %}
     Order Details
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">

{% endblock %}
{% block content %}

  <div>
      <div class="container">
        <div class="panel panel-default">
      <div class="panel-heading">Order details</div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>order ID</th>
            <th>start time</th>
            <th>final time</th>
            <th>is_paid</th>
            <th>customer_id</th>
            <th>final_location_id</th>
            <th>initial_location_id</th>
            <th>vehicle_id</th>
            <th>cost</th>
          </tr>
        </thead>
        <tbody>
          {% comment %} {{ user.id}} {% endcomment %}
          {% if obj.customer.user.id == user.id %}
          <tr>
            <th>{{obj.id}}</th>
            <td>{{ obj.initial_time|date:"H:i" }}</td>
            <td>{{ obj.final_time|date:"H:i" }}</td>
            <td>{{ obj.is_paid }}</td>
            <td>{{ obj.customer_id }}</td>
            <td>{{ obj.final_location_id }}</td>
            <td>{{ obj.initial_location_id }}</td>
            <td>{{ obj.vehicle_id }}</td>
            <td>{{ obj.cost }}</td>
<!--            <td>-->
<!--              <a class="btn btn-primary btn-xs">details</a>-->
<!--            </td>-->
          </tr>
          {% endif%}
        </tbody>
      </table>
    </div>
      </div>
  </div>
  </div>
{% endblock %}

