{% extends "locations/base.html" %}
{% load static %}

{% block title %}
    User Order History Details
{% endblock %}

{% block content %}

  <div>
      <div class="container">
        <div class="panel panel-default">
      <div class="panel-heading">Order details</div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>order ID</th>
            <th>start time</th>
            <th>final time</th>
            <th>is_paid</th>
            <th>customer_id</th>
            <th>final_location_id</th>
            <th>initial_location_id</th>
            <th>vehicle_id</th>
            <th>cost</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in queryset %}
          {% if obj.customer_id == user.id %}
          <tr>
            <th>{{obj.id}}</th>
            <td>{{ obj.initial_time|date:"H:i" }}</td>
            <td>{{ obj.final_time|date:"H:i" }}</td>
            <td>{{ obj.is_paid }}</td>
            <td>{{ obj.customer_id }}</td>
            <td>{{ obj.final_location_id }}</td>
            <td>{{ obj.initial_location_id }}</td>
            <td>{{ obj.vehicle_id }}</td>
            <td>{{ obj.cost }}</td>
<!--            <td>-->
<!--              <a class="btn btn-primary btn-xs">details</a>-->
<!--            </td>-->
          </tr>
          {% endif%}
          {% endfor %}
        </tbody>
      </table>
    </div>
      </div>
  </div>
  </div>
{% endblock %}

