{% extends "locations/base.html" %}
{% load static %}

{% block title %}User Order History{% endblock %}

{% block content %}
  <div class="container">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">order history</div>

      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>order ID</th>
            <th> Rented on</th>
            <th> Returned</th>
            <th> Cost (£) </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
            <th>{{obj.id}}</th>
            <td>{{ obj.initial_time|date:"H:i on  D, d M Y" }}</td>
            <td>{{ obj.final_time|date:"H:i" }}</td>
            {% if obj.is_paid %}
            <td class="cost"> {{ obj.cost}} </td>
            {% else %}
            <td> {{ obj.cost}} <a class="btn btn-primary btn-xs" href="/order_history/{{obj.id}}/payment/">pay</a></td>

            {% endif %}
            <td>
              <a class="btn btn-primary btn-xs" href="/order_history/{{obj.id}}/details/">details</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


