{% extends "locations/base.html" %}
{% load static %}

{% block title %}
    Payment Page
{% endblock %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">


{% endblock%}

{% block content %}
  <div class="content-wrapper">
    <div class="payment-info">
      <p>Your balance: ￡{{ balance }}</p>
      <p>You need to pay: ￡{{ cost }}</p>
      {% if balance < cost%}
      <p> Insufficient credit </p>
      {% endif%}
    </div>
    <div class="btn-wrapper">
      <form  method="POST" >
      {% csrf_token %}
      <a class="btn btn-primary btn-xs" href="/order_history/{{order.id}}/details/">See details for order #{{order.id}}</a>
      {% if balance < cost%}
      <a class="btn btn-primary btn-xs" href="/deposit/"> Top up!</a>
      {% else %}
      <button class="btn btn-primary btn-xs" type="submit" name="pay" id="pay" value="none">Pay now</button>
      </form>


      {% endif%}

    </div>
  </div>
{% endblock %}