{% extends "locations/base.html" %}
{% load static %}

{% block title %}
    Payment Page
{% endblock %}

{% block content %}

  <p>Your balance: {{ balance }}</p>
  <p>you need to pay: {{ cost }}</p>

  {% if balance < cost%}
  top-up!
  {% endif%}
  <form method="POST">
    {% csrf_token %}
    <div>
      <a class="btn btn-primary btn-xs" href="/order_history/{{order.id}}/details/"> See details for order #{{order.id}}</a>

    <button class= "btn btn-primary btn-xs" type="submit" name="pay" id="pay" value="none"> Pay now</button>
    
    </div>
  </form>
{% endblock %}