{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>

<style>
</style>
</head>
<body>
	<div>
		<form class='box' name="form_register" method="post" action="/register/">
			{% csrf_token %}
			<h1>Register</h1>
			<input type="text" class=b name="username" placeholder="Username"/> <br>
			<input type="password"  class=b name="passwd" placeholder="Password"/> <br>
			<input type="text" class=b name="firstname" placeholder="Your first name"/> <br>
			<input type="text" class=b name="lastname" placeholder="Your last name"/> <br>
			<input type="text" class=b name="email" placeholder="Your email"/> <br>
<!--			<h3>Please select the userRole you prefer</h3>-->
<!--			<input type="radio"  name="vehicle" value="car"/>car-->
<!--			<input type="radio"  name="vehicle" value="bicycle"/>bicycle-->
<!--			<input type="radio" name="vehicle" value="Scooter"/>Scooter<br>-->
<!--			<select name = "userRole" id="type" type="text">-->
<!--				<option value="customer">customer</option>-->
<!--				<option value="manager">manager</option>-->
<!--			</select><br>-->
			<input type="submit" name="submit" value="Submit" /> 
	    </form>
	</div>
</body>
<script>
	{% if messages %}
		{% for msg in messages %}
			alert('Message type: {{ msg.tags }}. Message content: {{ msg }}');
		{% endfor %}
	{% endif %}
</script>
</html>